<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title></title>
</head>
<body>
 <form method = "post" action="/users/post">
 姓名：<input type = 'text' name = "name" value ="rainbow" id="name"><br/>
 年龄：<input type = "number" name = "age" value ="25" id="age">
 <input type = "submit" value =" 提交"/> 
 </form>

</body>
</html>