<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>daomul's example</title>
    <link rel="stylesheet" href="../shared/css/base.css" />
  </head>
  <body>
    <h1>Text demo</h1>
    <div id="container">

    </div>

    <script src="../shared/thirdparty/es5-shim.min.js"></script>
    <script src="../shared/thirdparty/es5-sham.min.js"></script>
    <script src="../shared/thirdparty/console-polyfill.js"></script>
    <script src="../../build/react.js"></script>
    <script src="../../build/JSXTransformer.js"></script>
    <script type="text/jsx">

        //内容组件
        var Content = React.createClass({
          getInitialState:function(){
            return {
              inputText:'',
            };
          },
          handleChange:function(event){
            this.setState({inputText:event.target.value});
          },
          handleClick:function(){
            console.log("props name is " + this.props.selectName + " \n and inputText is "  + this.state.inputText);
          },
          render:function(){

            return <div>
              <textarea onChange = {this.handleChange} placeholder = "please input something!"></textarea>
              <button onClick = {this.handleClick}>sumbit</button>
            </div>;
          },
        });

        //评论组件
        var Comment = React.createClass({
          getInitialState:function(){
            return {
              names:["Tom","Axiba","daomul"],
              selectName:'',
            };
          },
          handleSelect:function(){
            this.setState(
                {selectName : event.target.value}
              );
          },
          render:function(){
            var options = [];
            //往options中添加子option
            for (var option in this.state.names) {
              options.push(<option value={this.state.names[option]}> {this.state.names[option]}  </option>)
            };
            return <div>
              <Content selectName = {this.state.selectName}>
              </Content>
              <select onChange = {this.handleSelect}>
                {options}
              </select>
            </div>;
          },
        });

        //start render
        React.render(<Comment></Comment>,document.body);
    </script>
  </body>
</html>