<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title><%=title%></title>
</head>
<body>
    <div>
        <h2><%=info%></h2>
        <ul>
            <li>name:<%=user.name%></li>
            <li>password:<%=user.password%></li>
        </ul>
    </div>
</body>
</html>